Repository atsixian/sixian.li: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add tailwind typography
  package.json
  pnpm-lock.yaml
  src/app/avatar.tsx
  src/app/me.mdx
  src/app/page.tsx
  src/mdx-components.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: blur hash
  src/app/avatar.tsx
Due: eslint --fix

feat(style): add link hover animation
  .lintstagedrc
  src/app/globals.css
  src/app/page.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: make link animation shorter
  src/app/globals.css
Due: prettier --write

feat: add moon
  package.json
  pnpm-lock.yaml
  src/app/moon.module.scss
  src/app/moon.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write

refactor: nav links
  src/app/page.tsx
Due: eslint --fix

refactor sidebar
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/page.tsx
  src/app/sidebar.tsx
Due: eslint --fix, prettier --write

feat(sidebar): hover transition
  src/app/sidebar.tsx
Due: eslint --fix

feat(content): add content layer
  .gitignore
  contentlayer.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

refactor: extract shared components
  src/app/layout.tsx
  src/app/me.mdx
  src/components/avatar.tsx
  src/components/my-email.tsx
  src/components/sidebar.tsx
Due: eslint --fix, prettier --write

fix(sidebar): update social links
  src/components/sidebar.tsx
Due: eslint --fix

feat: add placeholder for talk and visuals
  src/app/talk/page.tsx
  src/app/visuals/page.tsx
Due: eslint --fix

fix(font): use default font
  src/app/layout.tsx
  tailwind.config.js
Due: eslint --fix

feat(writing): add article list and article page
  src/app/layout.tsx
  src/app/writing/[slug]/page.tsx
  src/app/writing/page.tsx
  src/components/mdx.tsx
  src/components/sidebar.tsx
Due: eslint --fix

fix(sidebar): hover style
  src/components/sidebar.tsx
Due: eslint --fix

fix: moon opacity
  src/app/moon.module.scss
Due: none

fix: date format
  src/app/writing/[slug]/page.tsx
  src/app/writing/page.tsx
Due: eslint --fix

fix: sidebar hover
  src/components/sidebar.tsx
Due: eslint --fix

fix: add balancer
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/app/writing/[slug]/page.tsx
Due: eslint --fix, prettier --write

feat(mdx): auto link headers
  contentlayer.config.js
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat(mdx): add code highlighting
  contentlayer.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(route): rename route and add metadata
  src/app/talk/page.tsx
  src/app/talks/page.tsx
  src/app/visuals/page.tsx
  src/app/writing/page.tsx
  src/components/sidebar.tsx
Due: eslint --fix

content: add past articles
  contentlayer.config.js
  src/app/globals.css
  src/app/writing/[slug]/page.tsx
  src/content/2019-01-17-fold_right-and-fold_left.mdx
  src/content/2019-01-19-integer-partition-with-distinct-parts.mdx
  src/content/2019-01-21-inductive-data-types.mdx
  src/content/2019-01-23-binding-and-closure.mdx
  src/content/2019-03-25-stream.mdx
  src/content/2019-04-07-minimum-spanning-tree.mdx
  src/content/2019-05-12-dot-projection.mdx
  src/content/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  src/content/2019-10-27-number-of-submatrices-that-sum-to-target.mdx
  src/content/2019-12-13-count-down-to-2020.mdx
  src/content/2019-12-19-my-favorite-proofs-from-analysis1.mdx
  src/content/2020-03-31-longest-increasing-subsequence-and-patience-game-1.mdx
  src/content/2020-04-05-longest-increasing-subsequence-and-patience-game-2.mdx
  src/content/2020-05-15-两个有序数组的中位数.mdx
  src/content/2020-10-17-set-proxy-for-git.mdx
  src/content/2023-01-30-why-i-love-arc.mdx
Due: eslint --fix, prettier --write

fix(style): adjust spacing
  src/app/writing/[slug]/page.tsx
  src/app/writing/page.tsx
Due: eslint --fix

fix(style): date color
  src/app/writing/[slug]/page.tsx
  src/app/writing/page.tsx
Due: eslint --fix

fix(mdx): slug
  contentlayer.config.js
  src/content/2020-05-15-median-of-two-sorted-arrays.mdx
Due: prettier --write

feat(analytics): add vercel analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

perf: add bundle analyzer
  next.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(a11y): add lang and aria-label
  src/app/layout.tsx
  src/components/sidebar.tsx
Due: eslint --fix

style: add link gap and custom link component for mdx
  src/app/writing/page.tsx
  src/components/mdx.tsx
Due: eslint --fix

fix(style): sidebar nav item opacity
  src/components/sidebar.tsx
Due: eslint --fix

style(writing): link hover
  src/app/layout.tsx
  src/app/writing/page.tsx
  src/components/sidebar.tsx
Due: eslint --fix

style: smooth scroll
  src/app/globals.css
Due: prettier --write

feat: favicon and title
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/talks/page.tsx
  src/app/writing/page.tsx
Due: eslint --fix

style: add blur on top
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/components/sidebar.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: add dark mode
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/writing/[slug]/page.tsx
  src/app/writing/page.tsx
  src/components/mdx.tsx
  src/components/sidebar.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(article): add contact
  src/app/writing/[slug]/page.tsx
Due: eslint --fix

doc: update README
  README.md
Due: prettier --write

chore: update license
  src/app/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{md,mdx,json,css}
