Repository atsixian/sixian.li: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: exports order
  packages/magtext/package.json
Due: prettier --write

fix: use unbuild
  packages/magtext/build.config.ts
  packages/magtext/package.json
  packages/magtext/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: build
  apps/sixianli/contentlayer.config.js
  apps/sixianli/package.json
  apps/sixianli/src/components/group-by-year.tsx
  apps/sixianli/src/content/craft/gravity-beans.mdx
  apps/sixianli/src/content/craft/magtext.mdx
  packages/magtext/README.md
  packages/magtext/build.config.ts
  packages/magtext/package.json
  packages/magtext/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

craft: flickering neon
  apps/sixianli/src/app/me.mdx
  apps/sixianli/src/content/craft/flickering-neon.mdx
Due: prettier --write

fix: spacing
  apps/sixianli/src/app/(with-nav)/layout.tsx
  apps/sixianli/src/app/craft/[slug]/page.tsx
  apps/sixianli/src/app/me.mdx
  apps/sixianli/src/app/page.tsx
  apps/sixianli/src/app/writing/[slug]/page.tsx
  apps/sixianli/src/components/mdx.tsx
Due: eslint --fix, prettier --write

fix: prose color
  apps/sixianli/src/app/writing/[slug]/page.tsx
Due: eslint --fix

og: new article og bg
  apps/sixianli/public/og-bg.png
Due: none

refactor: font
  apps/sixianli/src/app/fonts.ts
  apps/sixianli/src/app/layout.tsx
  apps/sixianli/tailwind.config.js
Due: eslint --fix, prettier --write

style: Video component
  apps/sixianli/src/components/video.tsx
Due: eslint --fix

style: add smarty pants
  apps/sixianli/contentlayer.config.js
  apps/sixianli/package.json
  pnpm-lock.yaml
Due: prettier --write

style: italic font for em
  apps/sixianli/src/app/fonts.ts
  apps/sixianli/src/app/layout.tsx
  apps/sixianli/src/app/sentient-var-italic.woff2
  apps/sixianli/tailwind.config.js
Due: eslint --fix, prettier --write

style: bg and a color
  apps/sixianli/src/app/globals.css
  apps/sixianli/tailwind.config.js
Due: prettier --write

style
  apps/sixianli/src/components/mdx.tsx
  apps/sixianli/src/components/video.tsx
  apps/sixianli/src/content/articles/2023-06-18-tailwind-autocomplete-done-right.mdx
  apps/sixianli/src/content/articles/2023-06-22-ego-and-math.mdx
  apps/sixianli/tailwind.config.js
Due: eslint --fix, prettier --write

fix: max width, Image and font
  apps/sixianli/next.config.js
  apps/sixianli/src/app/globals.css
  apps/sixianli/src/app/me.mdx
  apps/sixianli/src/app/writing/[slug]/page.tsx
  apps/sixianli/src/components/mdx.tsx
  apps/sixianli/src/content/articles/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  apps/sixianli/src/content/articles/2023-07-03-friction-is-good.mdx
  apps/sixianli/tailwind.config.js
Due: eslint --fix, prettier --write

refactor: remove redundant blur hash
  apps/sixianli/src/components/avatar.tsx
Due: eslint --fix

debug: font
  apps/sixianli/src/app/fonts.ts
  apps/sixianli/src/app/lato-regular.ttf
Due: eslint --fix

fix: overflow
  apps/sixianli/src/app/writing/[slug]/toc.tsx
Due: eslint --fix

fix: font
  apps/sixianli/src/app/fonts.ts
  apps/sixianli/tailwind.config.js
Due: eslint --fix, prettier --write

update: personal info
  apps/sixianli/src/app/me.mdx
Due: prettier --write

article: why seizo
  apps/sixianli/public/articles/why-seizo/seizo-with-them.jpeg
  apps/sixianli/src/content/articles/2023-12-05-why-seizo.mdx
Due: prettier --write

refactor: remove unused effects
  apps/sixianli/src/components/floating-menu.tsx
Due: eslint --fix

refactor: remove useMediaQuery
  apps/sixianli/src/hooks/use-media-query.ts
Due: eslint --fix

fix: use 'Home' instead of a Moon for better readability
  apps/sixianli/src/components/nav/constants.tsx
  apps/sixianli/src/components/nav/floating-nav.tsx
Due: eslint --fix

feat: update bio
  apps/sixianli/src/app/me.mdx
Due: prettier --write

article: grandpa
  apps/sixianli/public/articles/grandpa-and-penguin-clock/penguin-clock.jpeg
  apps/sixianli/src/app/writing/[slug]/page.tsx
  apps/sixianli/src/content/articles/2024-03-10-grandpa-and-penguin-clock.mdx
Due: eslint --fix, prettier --write

chore: update umami
  apps/sixianli/src/app/layout.tsx
Due: eslint --fix

article: moth
  apps/sixianli/public/articles/moth.jpeg
  apps/sixianli/src/content/articles/2024-05-09-coexist-with-moth.mdx
Due: prettier --write

update bio
  apps/sixianli/src/app/me.mdx
Due: prettier --write

article: my 2024
  apps/sixianli/public/articles/fern.jpg
  apps/sixianli/src/content/articles/2025-01-04-my-2024.mdx
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{md,mdx,json,css,js}
