Repository atsixian/sixian.li: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{md,mdx,json,css,js}": "prettier --write"
}

feat(og): add og image
  public/og-image.png
Due: none

feat(og): add og route
  public/og-bg.png
  src/app/og/route.tsx
Due: eslint --fix

feat(og): add lang attribute and og for articles
  contentlayer.config.js
  src/app/writing/[slug]/page.tsx
  src/content/2019-01-17-fold_right-and-fold_left.mdx
  src/content/2019-01-19-integer-partition-with-distinct-parts.mdx
  src/content/2019-01-21-inductive-data-types.mdx
  src/content/2019-01-23-binding-and-closure.mdx
  src/content/2019-03-25-stream.mdx
  src/content/2019-04-07-minimum-spanning-tree.mdx
  src/content/2019-05-12-dot-projection.mdx
  src/content/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  src/content/2019-10-27-number-of-submatrices-that-sum-to-target.mdx
  src/content/2019-12-13-count-down-to-2020.mdx
  src/content/2019-12-19-my-favorite-proofs-from-analysis1.mdx
  src/content/2020-03-31-longest-increasing-subsequence-and-patience-game-1.mdx
  src/content/2020-04-05-longest-increasing-subsequence-and-patience-game-2.mdx
  src/content/2020-05-15-median-of-two-sorted-arrays.mdx
  src/content/2020-10-17-set-proxy-for-git.mdx
  src/content/2023-01-30-why-i-love-arc.mdx
Due: eslint --fix, prettier --write

feat(og): add og for home page
  public/og.png
  src/app/layout.tsx
Due: eslint --fix

fix(og): locale
  src/app/og/route.tsx
  src/content/2019-01-17-fold_right-and-fold_left.mdx
  src/content/2019-01-19-integer-partition-with-distinct-parts.mdx
  src/content/2019-01-21-inductive-data-types.mdx
  src/content/2019-01-23-binding-and-closure.mdx
  src/content/2019-03-25-stream.mdx
  src/content/2019-04-07-minimum-spanning-tree.mdx
  src/content/2019-05-12-dot-projection.mdx
  src/content/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  src/content/2019-10-27-number-of-submatrices-that-sum-to-target.mdx
  src/content/2019-12-13-count-down-to-2020.mdx
  src/content/2019-12-19-my-favorite-proofs-from-analysis1.mdx
  src/content/2020-03-31-longest-increasing-subsequence-and-patience-game-1.mdx
  src/content/2020-04-05-longest-increasing-subsequence-and-patience-game-2.mdx
Due: eslint --fix, prettier --write

fix(og): change dimension
  public/og-bg.png
  public/og.png
  src/app/layout.tsx
  src/app/og/route.tsx
Due: eslint --fix

fix(assets): remove unused images
  public/next.svg
  public/vercel.svg
Due: none

feat: add English self-intro
  src/app/layout.tsx
  src/app/me.mdx
  src/app/og/route.tsx
  src/app/writing/[slug]/page.tsx
  src/components/my-email.tsx
  src/components/sidebar.tsx
Due: eslint --fix, prettier --write

fix: br
  .lintstagedrc
  src/app/me.mdx
Due: prettier --write

fix: layout
  src/app/layout.tsx
Due: eslint --fix

fix: move English self-intro to separate paragraphs
  src/app/me.mdx
Due: prettier --write

doc: add gradient blur
  README.md
Due: prettier --write

fix(link): add repo link
  src/components/sidebar.tsx
Due: eslint --fix

fix: latex
  src/content/2019-05-12-dot-projection.mdx
Due: prettier --write

fix: add scroll padding top
  src/app/globals.css
Due: prettier --write

chore: add vscode debug actions
  .vscode/launch.json
Due: prettier --write

fix(tw): bg color alpha value
  src/app/globals.css
  src/app/layout.tsx
  tailwind.config.js
Due: eslint --fix, prettier --write

feat(toc): add toc
  package.json
  pnpm-lock.yaml
  src/app/writing/[slug]/page.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

refactor(style): make sidebar fixed
  src/app/(with-side-bar)/layout.tsx
  src/app/(with-side-bar)/talks/page.tsx
  src/app/(with-side-bar)/visuals/page.tsx
  src/app/(with-side-bar)/writing/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/sidebar.tsx
Due: eslint --fix

refactor: extract link into component
  src/components/link.tsx
  src/components/sidebar.tsx
Due: eslint --fix

fix(article): heading and formatting
  src/content/2019-01-23-binding-and-closure.mdx
  src/content/2019-12-19-my-favorite-proofs-from-analysis1.mdx
  src/content/2023-01-30-why-i-love-arc.mdx
Due: prettier --write

refactor(toc): extract
  package.json
  pnpm-lock.yaml
  src/app/writing/[slug]/page.tsx
  src/app/writing/[slug]/toc.tsx
  src/components/sidebar.tsx
Due: eslint --fix, prettier --write

feat(toc): highlight active link
  src/app/writing/[slug]/toc.tsx
  src/components/link.tsx
  src/components/sidebar.tsx
  src/hooks/use-heading-observer.ts
Due: eslint --fix

fix(mdx): nested path
  contentlayer.config.js
Due: prettier --write

fix: remove extra space
  src/app/me.mdx
Due: prettier --write

feat: add umami
  src/app/layout.tsx
Due: eslint --fix

fix: remove vercel analytics
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
Due: eslint --fix, prettier --write

refactor: extract DateTime component
  src/app/writing/[slug]/page.tsx
  src/components/date-time.tsx
Due: eslint --fix

fix: only run umami in production mode
  src/app/layout.tsx
Due: eslint --fix

feat(talks): add talks
  contentlayer.config.js
  src/app/(with-side-bar)/talks/page.tsx
  src/app/(with-side-bar)/writing/page.tsx
  src/content/talks/00-advanced-typescript.md
  src/content/talks/01-template-literal-types.md
  src/content/talks/02-ks-killer.md
  src/content/talks/03-playwright.md
Due: eslint --fix, prettier --write

feat: rss
  next.config.js
  package.json
  pnpm-lock.yaml
  src/app/feed.xml/route.ts
  src/app/layout.tsx
Due: eslint --fix, prettier --write

feat: add rss icon
  src/components/sidebar.tsx
Due: eslint --fix

feat: floating nav
  src/app/page.tsx
  src/components/floating-nav.tsx
  src/components/sidebar.tsx
Due: eslint --fix

refactor: recreate with framer motion
  package.json
  pnpm-lock.yaml
  src/components/floating-nav.tsx
Due: eslint --fix, prettier --write

feat: add mobile header
  src/app/(with-side-bar)/layout.tsx
  src/app/(with-side-bar)/visuals/page.tsx
  src/app/(with-side-bar)/writing/page.tsx
  src/app/globals.css
  src/app/me.mdx
  src/app/page.tsx
  src/components/floating-nav.tsx
Due: eslint --fix, prettier --write

fix: add header for Talks
  src/app/(with-side-bar)/talks/page.tsx
Due: eslint --fix

fix(nav): dark mode
  src/components/floating-nav.tsx
Due: eslint --fix

fix: mobile offset
  src/components/floating-nav.tsx
Due: eslint --fix

fix: use menu icon
  src/components/floating-nav.tsx
Due: eslint --fix

refactor(nav): remove md layout for sidebar
  src/components/floating-nav.tsx
  src/components/sidebar.tsx
Due: eslint --fix
