Repository atsixian/sixian.li: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --fix",
  "*.{md,mdx,json,css,js}": "prettier --write"
}

refactor(nav): remove md layout for sidebar
  src/app/writing/[slug]/page.tsx
  src/app/writing/[slug]/toc.tsx
Due: eslint --fix

refactor(nav): remove mobile layout for toc
  src/app/writing/[slug]/page.tsx
Due: eslint --fix

refactor(nav): extract floating menu
  src/app/page.tsx
  src/app/writing/[slug]/toc.tsx
  src/components/floating-menu.tsx
  src/components/floating-nav.tsx
Due: eslint --fix

refactor: move Moon to components
  src/components/floating-nav.tsx
  src/components/moon.module.scss
  src/components/moon.tsx
  src/components/sidebar.tsx
Due: eslint --fix

fix: mobile article header
  src/app/writing/[slug]/page.tsx
Due: eslint --fix

fix: md screen toc
  src/app/writing/[slug]/toc.tsx
Due: eslint --fix

refactor: unmount instead of hiding
  src/app/(with-side-bar)/layout.tsx
  src/app/page.tsx
  src/components/nav/floating-nav.tsx
  src/components/nav/nav.tsx
  src/components/nav/sidenav.tsx
  src/hooks/use-media-query.ts
Due: eslint --fix

feat: floating toc
  src/app/globals.css
  src/app/layout.tsx
  src/app/writing/[slug]/toc.tsx
  src/components/common.ts
  src/components/floating-menu.tsx
  src/components/nav/floating-nav.tsx
  src/hooks/use-headings.ts
Due: eslint --fix, prettier --write

fix: opacity
  src/app/writing/[slug]/toc.tsx
  src/components/nav/floating-nav.tsx
Due: eslint --fix

fix: still use hidden
  src/app/writing/[slug]/toc.tsx
  src/components/floating-menu.tsx
  src/components/nav/nav.tsx
  src/components/nav/sidenav.tsx
Due: eslint --fix

fix: alignment
  src/components/floating-menu.tsx
Due: eslint --fix

fix: sticky sidebar
  src/components/nav/sidenav.tsx
Due: eslint --fix

fix: intersection root margin
  src/hooks/use-headings.ts
Due: eslint --fix

fix: jump to heading
  src/app/writing/[slug]/toc.tsx
  src/hooks/use-headings.ts
Due: eslint --fix

fix: no manual setActive
  src/app/writing/[slug]/toc.tsx
  src/hooks/use-headings.ts
Due: eslint --fix

fix: no scroll when overlay
  src/components/floating-menu.tsx
Due: eslint --fix

refactor: change code theme
  code-block-themes/dark.json
  code-block-themes/light.json
  contentlayer.config.js
  src/app/globals.css
  src/content/2019-01-19-integer-partition-with-distinct-parts.mdx
  src/content/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  src/content/2020-03-31-longest-increasing-subsequence-and-patience-game-1.mdx
  src/content/2020-05-15-median-of-two-sorted-arrays.mdx
  src/content/2020-10-17-set-proxy-for-git.mdx
Due: prettier --write

article: tailwind classRegex
  public/articles/tailwind-autocomplete/class-list-illustration.png
  public/articles/tailwind-autocomplete/tailwind-ex1-variable.png
  src/app/(with-side-bar)/visuals/page.tsx
  src/app/writing/[slug]/page.tsx
  src/components/mdx.tsx
  src/components/video.tsx
  src/content/2023-06-18-tailwind-autocomplete-done-right.mdx
Due: eslint --fix, prettier --write

article: fix typo
  src/content/2023-06-18-tailwind-autocomplete-done-right.mdx
Due: prettier --write

fix: link word break
  src/components/mdx.tsx
Due: eslint --fix

fix: og
  src/app/og/route.tsx
Due: eslint --fix

fix: email address
  src/components/my-email.tsx
Due: eslint --fix

fix: avatar image and floating nav
  src/app/writing/[slug]/page.tsx
  src/components/avatar.tsx
  src/components/floating-menu.tsx
Due: eslint --fix

feat: add email icon
  src/components/nav/nav.tsx
Due: eslint --fix

article: ego and math, ego and the world
  public/articles/ego-and-math/meaning.png
  public/articles/ego-and-math/reply-from-grant.png
  src/components/mdx.tsx
  src/content/2023-06-22-ego-and-math.mdx
Due: eslint --fix, prettier --write

article: wording
  src/content/2023-06-22-ego-and-math.mdx
Due: prettier --write

fix: use a smaller gap for nav links
  src/components/nav/sidenav.tsx
Due: eslint --fix

fix: github username
  src/components/nav/nav.tsx
Due: eslint --fix

article: friction is good
  src/content/2023-07-03-friction-is-good.mdx
Due: prettier --write

refactor(style): change width and toc gap
  src/app/(with-nav)/layout.tsx
  src/app/(with-nav)/talks/page.tsx
  src/app/(with-nav)/visuals/page.tsx
  src/app/(with-nav)/writing/page.tsx
  src/app/page.tsx
  src/app/writing/[slug]/page.tsx
  src/app/writing/[slug]/toc.tsx
Due: eslint --fix

fix: lint-staged
  .lintstagedrc
  apps/sixianli/.eslintrc.js
  apps/sixianli/.lintstagedrc
  apps/sixianli/src/app/(with-nav)/talks/page.tsx
  apps/sixianli/src/components/nav/sidenav.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add craft page
  apps/sixianli/contentlayer.config.js
  apps/sixianli/src/app/(with-nav)/craft/page.tsx
  apps/sixianli/src/app/(with-nav)/writing/page.tsx
  apps/sixianli/src/app/craft/[slug]/page.tsx
  apps/sixianli/src/app/writing/[slug]/page.tsx
  apps/sixianli/src/components/group-by-year.tsx
  apps/sixianli/src/content/articles/2019-01-17-fold_right-and-fold_left.mdx
  apps/sixianli/src/content/articles/2019-01-19-integer-partition-with-distinct-parts.mdx
  apps/sixianli/src/content/articles/2019-01-21-inductive-data-types.mdx
  apps/sixianli/src/content/articles/2019-01-23-binding-and-closure.mdx
  apps/sixianli/src/content/articles/2019-03-25-stream.mdx
  apps/sixianli/src/content/articles/2019-04-07-minimum-spanning-tree.mdx
  apps/sixianli/src/content/articles/2019-05-12-dot-projection.mdx
  apps/sixianli/src/content/articles/2019-08-12-ubuntu-18.04-remap-mouse-buttons.mdx
  apps/sixianli/src/content/articles/2019-10-27-number-of-submatrices-that-sum-to-target.mdx
  apps/sixianli/src/content/articles/2019-12-13-count-down-to-2020.mdx
  apps/sixianli/src/content/articles/2019-12-19-my-favorite-proofs-from-analysis1.mdx
  apps/sixianli/src/content/articles/2020-03-31-longest-increasing-subsequence-and-patience-game-1.mdx
  apps/sixianli/src/content/articles/2020-04-05-longest-increasing-subsequence-and-patience-game-2.mdx
  apps/sixianli/src/content/articles/2020-05-15-median-of-two-sorted-arrays.mdx
  apps/sixianli/src/content/articles/2020-10-17-set-proxy-for-git.mdx
  apps/sixianli/src/content/articles/2023-01-30-why-i-love-arc.mdx
  apps/sixianli/src/content/articles/2023-06-18-tailwind-autocomplete-done-right.mdx
  apps/sixianli/src/content/articles/2023-06-22-ego-and-math.mdx
  apps/sixianli/src/content/articles/2023-07-03-friction-is-good.mdx
  apps/sixianli/src/content/craft/gravity-beans.mdx
  apps/sixianli/src/content/craft/magtext.mdx
Due: eslint --fix, prettier --write

chore: add configs workspace
  .vscode/settings.json
  configs/eslint-config-custom/README.md
  configs/eslint-config-custom/library.js
  configs/eslint-config-custom/next.js
  configs/eslint-config-custom/package.json
  configs/eslint-config-custom/react.js
  configs/eslint-config-custom/tailwind.js
  configs/tailwind-config/package.json
  configs/tailwind-config/tailwind.config.js
  configs/tsconfig/base.json
  configs/tsconfig/nextjs.json
  configs/tsconfig/package.json
  configs/tsconfig/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

fix: width
  apps/sixianli/src/app/page.tsx
Due: eslint --fix

feat(craft): add magtext
  README.md
  packages/magtext/LICENSE
  packages/magtext/README.md
  packages/magtext/package.json
  packages/magtext/src/index.ts
  packages/magtext/src/magtext.tsx
  packages/magtext/tsconfig.json
  packages/magtext/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: tsup only minify on build
  packages/magtext/package.json
  packages/magtext/tsconfig.json
  packages/magtext/tsup.config.ts
Due: eslint --fix, prettier --write

feat: add changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(magtext): add prepublish script
  packages/magtext/package.json
Due: prettier --write

fix: package name
  packages/magtext/package.json
Due: prettier --write
